[run]
source = .
omit =
    app.py
    btt_test.py
    test_translator.py
    tests/model_evaluation_report.py
    tests/archival_evidence_reporter.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    pass
